nav ul {
    display: flex;
    margin-bottom: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    font-size: 1.2rem;
    color: var(--secondary-color);
}